<!DOCTYPE html>
<html>
  <head>
    <title>Gp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "components/nav-bar", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "components/dashboard", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "components/appointment-card", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages/home-page", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages/consultations/show", "data-turbo-track": "reload" %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag('pages/home-page') %>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </head>

  <body>
    <header class="header">
      <div>
        <%= link_to(root_path, class: 'nav-link') do %>
            <box-icon class="nav-icon" type='solid' name='home-smile' animation="tada-hover"></box-icon>
          <% end %>
      </div>
      <nav class="navbar">
      <% if user_signed_in? %>
        <div class="nav-group">
          <%= link_to(consultations_path, class: 'nav-link') do %>
            <box-icon class="nav-icon" type='solid' name='dashboard' animation="tada-hover"></box-icon>
          <% end %>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class:'btn btn-danger' %>
          <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class:'nav-link'%>
          <%= link_to 'Sign In', new_user_session_path, class:'nav-link'%>
          <% end %>
        </div>
        <div class="profile-picture"
          <%if user_signed_in?%>
            <%if current_user.profile_photo.key %>
            <%= cl_image_tag current_user.profile_photo.key, height: 80, width: 80, crop: :fill, style: 'border-radius: 50%; margin-right:3rem; padding: 0;' %>
            <% else%>
            <p>upload photo</p>
            <% end %>
          <%end%>
        </div>
      </nav>
    </header>
    <br>
    <div class="consult-content-layout">
      <% if notice || alert %>
        <div class="all-notices">
          <% if notice %>
          <p class="notices">
            <%= notice %> Testing 1 to 3 👍
            <button class="btn-notice">
              <box-icon name='x' animation='tada' ></box-icon>
            </button>
          </p>
          <% end %>
          <%if alert %>
          <p class="alerts">
            <%= alert %> Testing 1 to 3 👍
            <button class="btn-notice">
              <box-icon name='x' animation='tada' ></box-icon>
            </button>
          </p>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>

<nav class="sidebar">
  <div>
    <div class="profile-div">
      <a href="#">
        <%= cl_image_tag current_user.profile_photo.key, class: 'profile-image-dash'%>
        <div class="profile-info">
          <span class="user-name">
            <box-icon name='male'></box-icon><%= @current_user_fn %>
          </span>
          <%= link_to 'Edit Profile', edit_user_registration_path, class:'nav-link'%>
        </div>
      </a>
    </div>
    <small class="menu-heading">
      <span>Admin Tools</span>
    </small>
    <ul class="tools" >
      <li class="dash-link">
        <box-icon type='solid' name='spreadsheet'></box-icon>
        <%= link_to 'My Drs', dr_appointments_path('doctors'), class:'dash-nav-link'%>
      </li>
      <li class="dash-link">
        <box-icon type='solid' name='spreadsheet'></box-icon>
        <%= link_to 'My Patients',  pt_appointments_path('patients'), class:'dash-nav-link'%>
      </li>
      <li class="dash-link">
        <box-icon type='solid' name='spreadsheet'></box-icon>
        <%= link_to 'Add consultation', new_consultation_path, class:'dash-nav-link'%>
      </li>
      <li class="dash-link">
        <box-icon type='solid' name='spreadsheet'></box-icon>
        <%= link_to 'All Consultations', root_path, class:'dash-nav-link'%>
      </li>
      <hr>
      <li class="dash-link notifications">
        <box-icon name="bell" animation="tada-hover"></box-icon>
        <%= link_to 'Notifications', edit_user_registration_path, class:'dash-nav-link'%>
        <% if @message_p || @message_dr%>
          <div class="message-notices" data-controller="toggle_notice">
            <div data-toggle-target="message" class="notice-close">
              <% if @message_dr != ''%>
                <p class=""><%= @message_dr %></p>
                <button data-action="click->toggle#fire" class="btn btn-danger mx-5 mb-5">&times;</button>
              <% end %>
            </div>
            <div data-toggle-target="message"
            class="notice-close">
              <% if @message_p != ''%>
                <p class=""><%= @message_p %></p>
                <button data-action="click->toggle#fire" class="btn btn-danger mx-5 mb-5">&times;</button>
              <% end %>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
  </body>
</html>
